.Chat_main  
  .Group-info
    .Group-content
      .Group-content__group-name 
        = @group.name
      .Group-content__member 
        Member:
        - @group.group_users.each do |user|
          = user.user.name
    .Edit-content
      .Edit-content__edit-btn
        = link_to edit_group_path(params[:group_id]) do
          Edit
  .Chat_main__message_list
    = render @messages
  .Chat_main__message_form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Text-form
        = f.text_field :content, placeholder:"type a message", class:'Text-form__text'
        = f.label :image, class: "Text-form__label" do
          = icon('far', 'image', class:'Text-form__label--icon')
          = f.file_field :image, class:'Text-form__label--file'
      = f.submit 'Send', class:'submit'
