.Side-bar
  .User-name
    .Side-box
      .Side-box__user-name 
        = current_user.name
      .Side-box__icon-set
        = link_to new_group_path, class: "Side-box__icon-set--btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "Side-box__icon-set--btn" do
          = icon('fas', 'cog')
  .Group-list
    - current_user.groups.each do |group|
      .Group
        = link_to "#" do
          .Group__name 
            = group.name
          .Group__message 
            メッセージはまだありません
